/* 滚动条 */
.scrollbar, .sider-scrollbar {
    overflow: auto;
    scrollbar-width: thin !important;
    scrollbar-color: var(--lihua-scrollbar-thumb-color);
}
/* 暗色导航滚动条 */
[sider-dark = 'dark'] {
    .sider-scrollbar {
        scrollbar-color: var(--lihua-sider-scrollbar-thumb-color);
    }
}

/**
    input 框前缀图标颜色
 */
.input-prefix-icon-color {
    color: var(--lihua-input-icon-color);
}

/**
    单行 form-item 下 label margin设置为0
 */
.form-item-single-line {
    margin: 0;
}

/**
    ant 官方 tree-select 组件长度默认很短，定义css与其他input框默认长度对齐
 */
.default-input-width {
    width: 196px !important
}

/**
    问号提示距离标题的距离
 */
.question-icon {
    margin-left: var(--lihua-space-xs) !important;
}

/**
    顶部导航模式下，使用该css可使内容居中
 */
[layout-type='top-navigation'] {
    .top-navigation-center {
        max-width: 1400px;
        margin: auto
    }
}

/**
    暗色模式半透明蒙版，降低亮度
 */
[data-theme = 'dark'] {
    .dark-overlay::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 1;
        pointer-events: none;
    }
}

/**
    灰色模式 由管理员统一开启
 */
[gray-model = 'enable'] {
    body {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    }
}

/**
    文本不可选中
 */
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**
    鼠标悬停变为手指
 */
.hover-cursor-pointer {
    cursor: pointer
}
