/* 未开启 */
.background-glass {
    background-color: var(--lihua-backdrop-filter-off-color) !important;
}

[ground-glass = enable] {
    /* 高级材质模式下应用css背景颜色 */
    .background-glass {
        background-color: var(--lihua-backdrop-filter-on-color) !important;
    }
    /* 全屏幕遮罩 */
    .lihua-mask {
        will-change: backdrop-filter;
        backdrop-filter: var(--lihua-backdrop-filter-sm);
    }

    /* 抽屉背景虚化 */
    .ant-drawer-mask {
        will-change: backdrop-filter;
        backdrop-filter: var(--lihua-backdrop-filter-sm);
    }

    /* 模态框背景虚化 */
    .ant-modal-wrap {
        will-change: backdrop-filter;
        backdrop-filter: var(--lihua-backdrop-filter-sm);
    }

    /* 选项卡选中项目虚化，背景颜色设置为透明 */
    .enable-glass {
        .ant-tabs-tab-active {
            background: var(--lihua-alpha-level-0) !important;
            border-bottom-color: var(--lihua-alpha-level-0) !important;
        }
    }

    /* 下拉菜单虚化 */
    .enable-glass.ant-dropdown {
        will-change: backdrop-filter;
        backdrop-filter: var(--lihua-backdrop-filter-md);
        border-radius: var(--lihua-radius-sm);
        overflow: hidden;
        box-shadow: var(--lihua-box-shadow);
        .ant-dropdown-menu {
            background-color: var(--lihua-backdrop-filter-on-color);
        }
    }

    /* 弹出菜单虚化 */
    .enable-glass.ant-dropdown-menu-submenu-popup {
        will-change: backdrop-filter;
        backdrop-filter: var(--lihua-backdrop-filter-md);
        border-radius: var(--lihua-radius-sm);
        overflow: hidden;
        box-shadow: var(--lihua-secondary-box-shadow);
        .ant-dropdown-menu {
            margin: 0;
            background-color: var(--lihua-backdrop-filter-on-color);
        }
    }
}