/* layout */
.layout {
    min-height: 100vh
}

/* content */
.layout-content {
    padding: var(--lihua-space-base);
    overflow-x: hidden;
}

/* 页脚 */
.layout-footer {
    height: var(--footer-height) !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

/**
   顶部head样式变化
   暗色导航、非小窗口、顶部导航和混合导航，图标颜色变化
 */
[sider-dark = 'dark'][is-small-window = 'false'][layout-type = 'top-navigation'] {
    .icon-default-color {
        color: rgba(255, 255, 255, 0.65);
    }
    .text-default-color {
        color: rgba(255, 255, 255, 0.65);
    }

    .icon-default-color:hover {
        color: #fff;
    }
    .text-default-color:hover {
        color: #fff;
    }

    /* placeholder 颜色 */
    .title-search-input input::placeholder {
        color: var(--lihua-alpha-level-4) !important;
    }

    /* 输入框边框颜色 */
    .title-search-input {
        border-color: var(--lihua-alpha-level-5) !important;
    }

    /* 标签样式 */
    .title-search-tag {
        border-color: var(--lihua-alpha-level-5) !important;
        color: var(--lihua-alpha-level-5) !important;
    }
}
