/* 全局变量 */

/* 亮色模式变量 */
:root {
    /* ======================主题颜色 会由ts进行覆盖======================== */
    --colorPrimary: rgba(0, 0, 0, 0);

    /* ===============================模糊=============================== */
    --lihua-backdrop-filter-lg: saturate(180%) blur(20px);
    --lihua-backdrop-filter-md: saturate(180%) blur(12px);
    --lihua-backdrop-filter-sm: saturate(180%) blur(6px);

    /* =========================模糊状态下背景颜色========================= */
    --lihua-backdrop-filter-on-color: rgba(255,255,255,0.6);
    --lihua-backdrop-filter-off-color: rgba(255,255,255,1);

    /* ============================layout高度============================ */
    --lihua-layout-height: 48px;

    /* =========================layout头部元素间距========================= */
    --lihua-layout-head-space: 32px;

    /* =============================深色菜单============================== */
    --lihua-sider-dark-color: rgba(0,21,41);

    /* ===============================间距=============================== */
    --lihua-space-xs: 4px;
    --lihua-space-sm: 8px;
    --lihua-space-base: 16px;
    --lihua-space-lg: 24px;
    --lihua-space-xl: 32px;

    /* ===============================圆角=============================== */
    --lihua-radius-xs: 4px;
    --lihua-radius-sm: 8px;
    --lihua-radius-base: 16px;
    --lihua-radius-lg: 24px;

    /* ===============================字号=============================== */
    --lihua-font-size-xs: 12px;
    --lihua-font-size-sm: 14px;
    --lihua-font-size-base: 16px;
    --lihua-font-size-lg: 18px;
    --lihua-font-size-xl: 20px;
    --lihua-font-size-xxl: 24px;

    /* ===============================页脚=============================== */
    --footer-height: 24px;

    /* ==============================滚动条============================== */
    --lihua-scrollbar-thumb-color: rgb(227,227,227) transparent;
    --lihua-sider-scrollbar-thumb-color: rgb(66,66,66) transparent;

    /* ===============================阴影=============================== */
    /* layout阴影 */
    --lihua-layout-box-shadow:
            0 1px 2px 0 rgba(0, 0, 0, 0.03),
            0 1px 6px -1px rgba(0, 0, 0, 0.02),
            0 2px 4px 0 rgba(0, 0, 0, 0.02);
    /* 一般弹出层使用的阴影 */
    --lihua-secondary-box-shadow:
            0 6px 16px 0 rgba(0, 0, 0, 0.08),
            0 3px 6px -4px rgba(0, 0, 0, 0.12),
            0 9px 28px 8px rgba(0, 0, 0, 0.05);
    /* 一般容器阴影 */
    --lihua-box-shadow:
            0 2px 6px rgba(0, 0, 0, 0.08),
            0 6px 16px rgba(0, 0, 0, 0.06);

    /* ===============================背景颜色=============================== */
    --lihua-background-color-level-1: #f5f5f5;
    --lihua-background-color-level-2: #ffffff;
    --lihua-background-color-level-3: #fafafa;

    /* ===============================边框颜色=============================== */
    --lihua-border-color: #d9d9d9;

    /* ===============================悬浮颜色=============================== */
    --lihua-hover-color: rgba(0, 0, 0, 0.06);

    /* =============================输入框图标颜色============================= */
    --lihua-input-icon-color: rgba(0,0,0,0.25);

    /* ==============================透明度颜色============================== */
    --lihua-alpha-level-0: rgba(255,255,255,0);
    --lihua-alpha-level-1: rgba(255,255,255,0.04);
    --lihua-alpha-level-2: rgba(255,255,255,0.08);
    --lihua-alpha-level-3: rgba(255,255,255,0.3);
    --lihua-alpha-level-4: rgba(255,255,255,0.45);
    --lihua-alpha-level-5: rgba(255,255,255,0.65);
    --lihua-alpha-level-6: rgba(255,255,255,0.88);

    /* ==============================不同状态颜色============================== */
    --lihua-success-color: #52c41a;
    --lihua-warning-color: #faad14;
    --lihua-danger-color: #ff4d4f;

}

/* 暗色模式变量 */
[data-theme = 'dark'] {
    /* =========================模糊状态下背景颜色========================= */
    --lihua-backdrop-filter-on-color: rgba(20,20,20,0.6);
    --lihua-backdrop-filter-off-color: rgba(20,20,20,1);

    /* ==============================滚动条============================== */
    --lihua-scrollbar-thumb-color: rgb(66,66,66) transparent;
    --lihua-sider-scrollbar-thumb-color: rgb(66,66,66) transparent;
    /* ===============================阴影=============================== */
    /* layout阴影 */
    --lihua-layout-box-shadow:
            0 1px 2px 0 rgba(255, 255, 255, 0.03),
            0 1px 6px -1px rgba(255, 255, 255, 0.02),
            0 2px 4px 0 rgba(255, 255, 255, 0.02);
    /* 一般容器阴影 */
    --lihua-box-shadow:
            0 2px 6px rgba(0, 0, 0, 0.35),
            0 6px 16px rgba(0, 0, 0, 0.25);

    /* ===============================背景颜色=============================== */
    --lihua-background-color-level-1: #000000;
    --lihua-background-color-level-2: #141414;
    --lihua-background-color-level-3: #1e1e1e;

    /* ===============================边框颜色=============================== */
    --lihua-border-color: #424242;

    /* ===============================悬浮颜色=============================== */
    --lihua-hover-color: rgba(255, 255, 255, 0.06);

    /* =============================输入框图标颜色============================= */
    --lihua-input-icon-color: rgba(255,255,255,0.25);

    /* ==============================透明度颜色============================== */
    --lihua-alpha-level-0: rgba(0,0,0,0);
    --lihua-alpha-level-1: rgba(0,0,0,0.04);
    --lihua-alpha-level-2: rgba(0,0,0,0.08);
    --lihua-alpha-level-3: rgba(0,0,0,0.3);
    --lihua-alpha-level-4: rgba(0,0,0,0.45);
    --lihua-alpha-level-5: rgba(0,0,0,0.65);
    --lihua-alpha-level-6: rgba(0,0,0,0.88);

    /* ==============================不同状态颜色============================== */
    --lihua-success-color: #49aa19;
    --lihua-warning-color: #d89614;
    --lihua-danger-color: #dc4446;
}

[sider-dark = 'dark'] {
    /* ==============================滚动条============================== */
    --lihua-sider-scrollbar-thumb-color: rgb(66,66,66) transparent;
}